#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search {
  padding: 2em;
}

.searchView {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchBar {
  flex: 1;
  text-align: left;
}

.packCard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
}